Package: com.seunome.fakepurchasetweak
Name: FakePurchaseTweak
Depends: mobilesubstrate
Version: 1.1
Architecture: iphoneos-arm
Description: Fake IAP para apps com StoreKit
Maintainer: Você <email@exemplo.com>
Author: Você
Section: Tweaks
